@{
    ViewData["Title"] = "Card: Help";
}

    <div class="text-muted">
        <br />
        <h3>Available controllers, routes and parameters:</h3>
        <ul>
            <li>Card
                <ul>
                    <li>
                        Index - get a view of cards pulled from a standard French deck (52 cards + 2 jokers)
                        <ul>
                            <li>amount (How many cards to draw? Value: between 1 and 100000, default: 1)</li>
                            <li>sorted (Should the cards be sorted in ascending order? Value: true or false, default: false)</li>
                            <li>repeats (Should cards be returned to the deck after pulling them? Value true or false, default: false; if "amount" is bigger than deck size and repeats is false, new decks to draw from will be generated as needed)</li>
                        </ul>
                    </li>
                    <li>Help (You are here!)</li>
                </ul>
        </ul>
    </div>









